In [21]:
import os
import pandas as pd

In [22]:
# read data
# Specify the subdirectory and the file name
subdirectory = "archive"
file_name = "2019-Oct_quarter.csv"

# Construct the full file path
file_path = os.path.join(os.getcwd(), subdirectory, file_name)

# Read the file using pandas
df = pd.read_csv(file_path)
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [38]:
##how many ppl are buying each category
df_groupby = df.groupby(['category_code'])['user_id'].count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) 




print(df_groupby)

                    category_code     count
97         electronics.smartphone  11507231
96             electronics.clocks   1311033
70             computers.notebook   1137623
101          electronics.video.tv   1113750
90    electronics.audio.headphone   1100188
..                            ...       ...
83   construction.tools.soldering       632
19                 apparel.shorts       632
6                  apparel.jacket       436
54   auto.accessories.anti_freeze       308
86   country_yard.furniture.bench       190

[126 rows x 2 columns]

In [39]:
##avg and max price count for each user id
df_groupby = df.groupby(['user_id'])['price'].mean() \
                             .reset_index(name='mean_price') \
                             .sort_values(['mean_price'], ascending=False) 

print(df_groupby)

           user_id  mean_price
878980   523656508     2574.07
1316706  539011738     2574.07
2429972  559864197     2574.07
2013575  555853637     2574.07
1552448  545276473     2574.07
...            ...         ...
55674    512566317        0.00
2816372  563839565        0.00
1236834  536418473        0.00
1616470  547009767        0.00
366141   515187251        0.00

[3022290 rows x 2 columns]

In [40]:
df_groupby = df.groupby(['user_id'])['price'].max() \
                             .reset_index(name='max_price') \
                             .sort_values(['max_price'], ascending=False) 
print(df_groupby)

           user_id  max_price
766008   520801931    2574.07
364582   515173671    2574.07
1524793  544545993    2574.07
1060780  529863594    2574.07
499746   516647351    2574.07
...            ...        ...
2013615  555853979       0.00
1417823  542015041       0.00
323242   514760545       0.00
556147   517471186       0.00
496029   516612820       0.00

[3022290 rows x 2 columns]

In [41]:
##brand count for each user id
df_groupby = df.groupby(['user_id'])['brand'].count()\
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) 
print(df_groupby)

           user_id  count
40079    512475445   6304
21430    512365995   4001
44956    512505687   2891
123300   513021392   2837
976096   526731152   2316
...            ...    ...
1294742  538317146      0
2739403  563052393      0
2739417  563052525      0
1294671  538315306      0
3022289  566280860      0

[3022290 rows x 2 columns]

In [42]:
##number of distinct user ids
df_ids = df[['user_id']].nunique() 
print(df_ids)

user_id    3022290
dtype: int64

In [43]:
##number of distinct product ids
df_ids = df[['product_id']].nunique() 
print(df_ids)

product_id    166794
dtype: int64

In [44]:
##number of distinct cat ids
df_ids = df[['category_id']].nunique() 
print(df_ids)

category_id    624
dtype: int64

In [45]:
##number of distinct brands
df_ids = df[['brand']].nunique() #35 s
print(df_ids)

brand    3444
dtype: int64